//Переменные
$minwidth: 320px;
$mw: 1170;
$md1: $mw + 12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;

// $main: #f2efe5;
$main: #192024;
$nav-scroll: #273238;
$background:  rgb(238, 238, 238);
$button: #9a977a;
$nav: #fffbf8;
$text: #000;
