
  <section id="instagram" class="inst">
    <h3 class="inst-title">
        Больше информации в моем инстаграме
        <a class="inst-link" href="https://www.instagram.com/konovalovtattoo/">konovalovtattoo</a>
    </h3>
   <div class="inst-body">
     <div class="inst-item">
       <a href="https://www.instagram.com/p/CCisGPCJz18/">
        <img class="inst-item-img" src="img/inst/1.jpg" alt="#">
       </a>
     </div>
     <div class="inst-item">
      <a href="https://www.instagram.com/p/CCisGPCJz18/">
        <img class="inst-item-img" src="img/inst/2.jpg" alt="#">
      </a>
    </div>
    <div class="inst-item">
      <a href="https://www.instagram.com/p/CCisGPCJz18/">
        <img class="inst-item-img" src="img/inst/3.jpg" alt="#">
      </a>
    </div>
    <div class="inst-item">
      <a href="https://www.instagram.com/p/CCisGPCJz18/">
        <img class="inst-item-img" src="img/inst/4.jpg" alt="#">
      </a>
    </div>
    <div class="inst-item">
      <a href="https://www.instagram.com/p/CCisGPCJz18/">
        <img class="inst-item-img" src="img/inst/5.jpg" alt="#">
      </a>
    </div>
    <div class="inst-item">
      <a href="https://www.instagram.com/p/CCisGPCJz18/">
        <img class="inst-item-img" src="img/inst/6.jpg" alt="#">
      </a>
    </div>
    <div class="inst-item">
      <a href="https://www.instagram.com/p/CCisGPCJz18/">
        <img class="inst-item-img" src="img/inst/1.jpg" alt="#">
      </a>
    </div>
    <div class="inst-item">
      <a href="https://www.instagram.com/p/CCisGPCJz18/">
        <img class="inst-item-img" src="img/inst/2.jpg" alt="#">
      </a>
    </div>
    <div class="inst-item">
      <a href="https://www.instagram.com/p/CCisGPCJz18/">
        <img class="inst-item-img" src="img/inst/3.jpg" alt="#">
      </a>
    </div>
    <div class="inst-item">
      <a href="https://www.instagram.com/p/CCisGPCJz18/">
        <img class="inst-item-img" src="img/inst/4.jpg" alt="#">
      </a>
    </div>
   </div>
  </section>
