
  <section id="product" class="product">
    <div class="content">
      <div class="product-content">

        <div class="product-column">
          <div class="product-item-image ibg">
            <img  src="img/product/1.jpg" alt="#">
        </div>
          <div class="product-item-cont">
            <p class="product-title"><span class="product-num">01.</span> Блок KV [KonoValov] BRICK</p>
            <p class="product-cost">1500 грн</p>
            <p class="product-desc">Мощность 3 Ампера Регулировка от 1.5 до 15.0 Вольт с шагом до 0.01 Вольт.
            Осуществляется 10-ти оборотным потенциометр, что делает выбор нужного напряжения простым.
            Стандартная полярность в обоих гнездах, соответственно не имеет значение, откуда питать машинку и педаль.
            Упаковка с наполнителем, в комплекте шнур.</p>
            <p class="product-color">Цвет подсветки вольтметра и кнопки на выбор (красный/синий/зелёный).</p>
            <p class="product-m">Вес 195г.</p>
            <p class="product-size">Размер блока со всеми выпирающими элементами 115/60/50мм.</p>
            <p class="product-guaranty">Гарантия 1 год</p>
        </div>
        </div>

        <div class="product-column">
          <div class="product-item-image ibg">
            <img  src="img/product/1.jpg" alt="#">
        </div>
          <div class="product-item-cont">
            <p class="product-title"><span class="product-num">01.</span> Блок KV [KonoValov] BRICK</p>
            <p class="product-cost">1500 грн</p>
            <p class="product-desc">Мощность 3 Ампера Регулировка от 1.5 до 15.0 Вольт с шагом до 0.01 Вольт.
            Осуществляется 10-ти оборотным потенциометр, что делает выбор нужного напряжения простым.
            Стандартная полярность в обоих гнездах, соответственно не имеет значение, откуда питать машинку и педаль.
            Упаковка с наполнителем, в комплекте шнур.</p>
            <p class="product-color">Цвет подсветки вольтметра и кнопки на выбор (красный/синий/зелёный).</p>
            <p class="product-m">Вес 195г.</p>
            <p class="product-size">Размер блока со всеми выпирающими элементами 115/60/50мм.</p>
            <p class="product-guaranty">Гарантия 1 год</p>
        </div>
        </div>

        <div class="product-column">
          <div class="product-item-image ibg">
            <img  src="img/product/1.jpg" alt="#">
        </div>
          <div class="product-item-cont">
            <p class="product-title"><span class="product-num">01.</span> Блок KV [KonoValov] BRICK</p>
            <p class="product-cost">1500 грн</p>
            <p class="product-desc">Мощность 3 Ампера Регулировка от 1.5 до 15.0 Вольт с шагом до 0.01 Вольт.
            Осуществляется 10-ти оборотным потенциометр, что делает выбор нужного напряжения простым.
            Стандартная полярность в обоих гнездах, соответственно не имеет значение, откуда питать машинку и педаль.
            Упаковка с наполнителем, в комплекте шнур.</p>
            <p class="product-color">Цвет подсветки вольтметра и кнопки на выбор (красный/синий/зелёный).</p>
            <p class="product-m">Вес 195г.</p>
            <p class="product-size">Размер блока со всеми выпирающими элементами 115/60/50мм.</p>
            <p class="product-guaranty">Гарантия 1 год</p>
        </div>
        </div>

        <div class="product-column">
            <div class="product-item-image ibg">
              <img src="img/product/2.jpg" alt="#">
            </div>
          <div class="product-item-cont">
            <p class="product-title"><span class="product-num">02.</span> Блок KV mini [KonoValov]</p>
            <p class="product-cost">1000 грн</p>
            <p class="product-desc">Мощность 3 Ампера
              Регулировка от 1.5 до 15.0 Вольт. Осу1ществляется однооборотным потенциометром. Ориентировка по шкале на ручке управления
              Стандартная полярность в обоих гнездах, соответственно не имеет значение, откуда питать машинку и педаль. Упаковка с наполнителем, в комплекте шнур.</p>
            <p class="product-m">Вес 115г.</p>
            <p class="product-size">Размер блока со всеми выпирающими элементами 60/60/45мм.</p>
            <p class="product-guaranty">Гарантия 1 год</p>
          </div>
        </div>

      </div>
    </div>


    </section>
